.box{
    height: 300px;
    width: 250px;
    margin: 20px;
    padding: 10px;
    background-color:rgb(246, 255, 0);
    float: left;
    position: relative;
}

.colorSelector{
  position: absolute;
  top: 5px;
  right: 10px;
}